#slider {
    background: #000;
    border: 0;
    overflow: hidden!important;
    width: 103%;
    padding: 0;
    position: relative;
    margin-top: -50px;
    margin-left: -13px;
    height: 233px!important
}
li.category {
    width: 48%
}
li.category:last-child {
    margin-left: 1%
}
li.category:first-child {
    margin-right: 1%
}
.panel-category-list ul li a {
    max-height: 250px;
    overflow: hidden
}
.panel-category-list ul li a img {
    max-height: 100%
}
.pattern {
    background: url(../img/pattern.jpg)
}
.container .navbar-nav li.active a:focus,
.container .navbar-nav li.active a:hover,
.container .navbar-nav li.active>a,
.navbar-default .navbar-nav .open>a,
.navbar-default .navbar-nav .open>a:focus,
.navbar-default .navbar-nav .open>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav li.dropdown li>a:focus,
.navbar-nav li.dropdown li>a:hover {
    background-color: transparent;
    color: #17BFAF!important
}
.navbar .container .navbar-nav li.active .fa-caret-down {
    color: #17BFAF
}
.dropdown-mega,
.navbar-default {
    border-color: #000
}
.navbar-default {
    background-color: #000
}
.container .navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700
}
body {
    background-color: #FFF;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden!important;
    max-width: 100%!important
}
.text-primary {
    color: #000!important
}
.text-info {
    color: #000
}
body {
    margin-bottom: 0
}
body a {
    color: #17BFAF
}
a:focus,
a:hover {
    color: #000
}
.btn-default,
.btn-primary,
.btn-success {
    background-color: #17BFAF;
    color: #FFF;
    border-color: #17BFAF
}
.btn-default:hover,
.btn-primary:hover,
.btn-success:hover {
    background-color: #FFF;
    color: #17BFAF;
    border-color: #17BFAF
}
.navbar .container .navbar-nav.pull-left li.fadeInLeft a i,
.navbar .container-view .navbar-nav.pull-left li.fadeInLeft a i {
    color: #fff
}
.navbar .container .navbar-nav.pull-left li.fadeInLeft a:hover i,
.navbar .container-view .navbar-nav.pull-left li.fadeInLeft a:hover i {
    color: #17BFAF
}
.btn-info,
.btn-info:hover,
.btn-warning {
    background-color: #666;
    color: #FFF;
    border-color: #666
}
.btn-warning:hover {
    background-color: #FFF;
    color: #666;
    border-color: #666
}
.btn-danger {
    background-color: #E80300;
    color: #FFF;
    border-color: #E80300
}
.btn-danger:hover {
    background-color: #FFF;
    color: #E80300;
    border-color: #E80300
}
.jumbotron {
    background-color: #FFF
}
h2 .jumbotron {
    color: #17BFAF
}
.bar_line {
    background: #17BFAF;
    height: 10px;
    display: block;
    width: 50%;
    margin: 0 auto
}
a.fancybox {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    padding-bottom: 5px
}
.thumbnail img {
    max-height: 175px!important;
    max-width: 175px!important;
    width: 100%;
    height: auto
}
.thumb-box img {
    max-width: 175px;
    max-height: 175px
}
.panel,
.panel-category-list .well,
.panel-default .panel-heading .panel-title,
.panel-primary .panel-heading .panel-title,
.panel-product-list .well {
    background-color: #fff;
    border-color: transparent;
    color: #666!important;
    box-shadow: none;
    margin-bottom: 0
}
a.thumbnail figure img:hover {
    opacity: .7
}
#content>section.container-view>ng-view>section>div>div.col-md-8.col-md-pull-4>div:nth-child(1)>div.panel-footer.ng-scope {
    display: none
}
li.favorites.hidden-xs {
    display: none!important
}
#urgent_info {
    width: 100%;
    position: relative;
    height: 140px;
    color: #000!important
}
.arrow_box {
    position: absolute;
    border: 1px solid #000;
    width: 200px;
    top: 10px;
    height: 110px;
    left: 50%
}
.btn-group-lg>.btn,
.btn-lg {
    border-radius: 0
}
.arrow_box:after,
.arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}
.arrow_box:after {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #000;
    border-width: 10px;
    margin-left: -10px
}
.arrow_box span {
    display: inline-block;
    text-align: center;
    margin: 0 auto
}
#arrow_con {
    position: relative;
    top: 5px
}
#goal,
#sold {
    padding: 5px;
    width: 95px;
    text-align: center;
    margin: 0 auto
}
#goal span,
#sold span {
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px
}
#clockTitle {
    position: absolute;
    width: 450px;
    top: 10px;
    left: 2%;
    font-size: 15px;
    text-align: left;
    color: #333
}
#clock {
    font-size: 40px;
    display: block;
    font-weight: 700;
    height: 80px;
    margin-left: -15px;
    padding-top: 5px
}
#clock span {
    display: block;
    width: 80px;
    height: 80px;
    text-align: center!important;
    float: left
}
#clock span.deliminator {
    width: 12px!important;
    padding: 0!important
}
#clock strong {
    font-size: 11px!important;
    text-transform: uppercase;
    font-weight: 400;
    clear: both;
    text-align: center;
    display: block
}
.urgent {
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto
}
#goal p,
#sold p {
    text-transform: uppercase;
    color: #17BFAF
}
.navbar-fixed-top {
    height: 40px!important
}
.show-xs {
    display: none!important
}
.panel .panel-heading .panel-title {
    font-size: 18px
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #000
}
.panel-category-list ul li .product-hover .description {
    color: #fff
}
.panel-category-list ul li .product-hover,
.panel-product-list ul li.gallery .product-hover {
    min-height: auto;
    max-width: 100%;
    background-color: rgba(51, 51, 51, .8);
    text-align: center;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 200ms ease 0s;
    z-index: 3
}
.panel-category-list ul li .product-hover h3,
.panel-product-list ul li.gallery .product-hover h3 {
    padding: 0!important;
    margin: 0;
    position: relative;
    top: 50%;
    color: #17BFAF!important
}
.panel-category-list ul li .product-hover>div:first-of-type,
.panel-product-list ul li.gallery .product-hover>div:first-of-type {
    border-top: 0;
    padding: 10px;
    overflow-y: hidden;
    max-height: 280px
}
.panel-category-list ul li:hover .product-hover,
.panel-product-list ul li.gallery:hover .product-hover {
    opacity: 1;
    top: -25px;
    bottom: -25px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms
}
#relatedProductsList li {
    float: none;
    display: inline-block
}
#relatedProductsList li a {
    display: block;
    padding: 0!important;
    text-decoration: none
}
#relatedProductsList {
    width: 100%;
    position: relative;
    margin-top: 20px!important
}
#relatedProductsList img {
    width: 100%;
    height: auto;
    max-width: 175px
}
#homelink {
    padding: 10px 0 10px 20px;
    margin: 0 10px 0 0!important;
    width: 160px;
    height: 55px
}
.navbar-default .navbar-nav>li#homelink>a:focus,
.navbar-default .navbar-nav>li#homelink>a:hover {
    background: 0 0
}
.navbar .container .navbar-nav.pull-left li#homelink a,
.navbar .container-view .navbar-nav.pull-left li#homelink a {
    padding: 0!important
}
.navbar-nav>li#homelink>a {
    padding-bottom: 0!important;
    padding-top: 0!important
}
.nav>li#homelink>a>img {
    height: auto;
    max-width: 100%;
    width: 100%
}
.panel-category-list ul li .product-hover h3.campaignName {
    color: inherit
}
h3.campaignName {
    font-size: 18px;
    color: #000!important
}
.panel-primary .panel-body p ul {
    list-style-type: disc!important;
    margin: 10px!important;
    padding: 15px!important
}
.text-success {
    color: #17BFAF
}
a.text-success:hover {
    color: #666
}
.navbar .container .navbar-nav.pull-right li a i,
.navbar .container-view .navbar-nav.pull-right li a i {
    border: 0;
    border-radius: 0;
    margin-top: -10px;
    padding: 10px;
    text-align: center
}
.product-image-large {
    margin: 0 auto;
    max-height: 400px;
    max-width: 400px;
    width: auto
}
label.required {
    color: #000
}
label.required:after {
    content: "*";
    color: #E80300
}
.form-control:focus {
    border-color: #17BFAF
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline {
    color: #666
}
.has-warning .form-FF5E00:focus,
.has-warning .form-control {
    border-color: #666
}
.has-warning .input-group-addon {
    color: #666;
    border-color: #666;
    background-color: #fff
}
.has-warning .form-control-feedback {
    color: #666
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline {
    color: #000
}
.has-error .form-control,
.has-error .form-control:focus {
    border-color: #000
}
.has-error .input-group-addon {
    color: #000;
    border-color: #000;
    background-color: #000
}
.has-error .form-control-feedback {
    color: #000
}
,
a.ng-binding span.badge.ng-binding {
    padding: 8px;
    font-size: 1.3em
}
span.badge.ng-binding {
    color: #000!important;
    background-color: #fff!important;
    bottom: 50%;
    position: relative;
    padding: 10px;
    font-size: 100%;
    min-width: 30px;
    min-height: 30px;
    vertical-align: center;
    border-radius: 45%;
    margin-left: 10px
}
.dropdown-menu {
    background-color: #000;
    border: 0;
    border-radius: 0;
    padding: 0
}
.navbar .container .navbar-nav.pull-right span.badge.ng-binding {
    padding: 5px;
    margin-left: 0;
    border-radius: 50%
}
.navbar .container .navbar-nav.pull-right li:first-of-type a i {
    font-size: 106%
}
.navbar .container .navbar-nav.pull-right li a i:first-of-type,
.navbar .container-view .navbar-nav.pull-right li a i:first-of-type {
    border-radius: 50%;
    border: 0!important;
    text-align: center;
    padding: 5px;
    margin-top: 0!important;
    bottom: 50%;
    position: relative
}
.navbar .container .navbar-nav.pull-right li a {
    font-size: 1.3em
}
.product-search-display {
    background-color: #17BFAF
}
.panel-product-list.no-panels .well {
    border: 0
}
.container .navbar-nav li.active a:focus span.badge.ng-binding,
.container .navbar-nav li.active a:hover span.badge.ng-binding,
.container .navbar-nav li.active>a span.badge.ng-binding,
.navbar-default .navbar-nav>li>a:focus span.badge.ng-binding,
.navbar-default .navbar-nav>li>a:hover span.badge.ng-binding {
    color: #000;
    background-color: #17BFAF!important
}
.navbar .container .navbar-nav li.active .fa-caret-down,
.navbar .container-view .navbar-nav li.active .fa-caret-down {
    left: 30%
}
.view-form-select::before {
    content: ""
}
.panel-default ul.cart {
    border-radius: 0;
    margin-top: -12px
}
.panel-default ul.cart li {
    width: 20%!important;
    display: inline-block;
    float: left
}
.panel-default ul.cart li .btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0;
    padding: 20px 0;
    text-transform: lowercase
}
.panel-default ul.cart li .btn-warning[disabled] {
    opacity: 1
}
.panel-default ul.loggedin li {
    width: 25%!important
}
.view-inline-error {
    margin-bottom: 10px
}
.navbar {
    min-height: 70px
}
.navbar .container .navbar-nav.pull-left li a,
.navbar .container .navbar-nav.pull-right li a,
.navbar .container-view .navbar-nav.pull-left li a,
.navbar .container-view .navbar-nav.pull-right li a {
    padding: 25px 15px;
    height: 70px
}
.navbar .container .navbar-nav.pull-left li ul li a,
.navbar .container .navbar-nav.pull-right li ul li a,
.navbar .container-view .navbar-nav.pull-left li ul li a,
.navbar .container-view .navbar-nav.pull-right li ul li a {
    height: auto
}
.centered {
    margin: 0 auto;
    padding: 20px 0
}
.jumbotron.active {
    min-height: 450px
}
.jumbotron {
    margin: 0!important;
    padding: 0!important
}
.home < .container-view {
    margin-top: -5px;
    padding-left: 0!important;
    padding-right: 0!important;
    max-height: 300px;
    margin-left: -10px;
    overflow: hidden;
    width: 101%
}
.home-images a:hover,
.home-images2 a:hover {
    opacity: .6;
    text-decoration: none
}
.home-images a,
.home-images img {
    max-width: 168px
}
.hide-sm {
    display: block
}
.full-width {
    width: 102%;
    margin: -20px auto 0 -20px;
    padding-bottom: 15px
}
#banner {
    background: url(../img/banner.png) top left no-repeat
}
#acm {
    font-size: 130%;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 40%;
    top: 15%
}
#productvid {
    height: 340px
}
#movietitle {
    font-size: 130%;
    line-height: 100%
}
#share {
    overflow: hidden;
    position: relative;
    right: -80px
}
#clockcontainer {
    position: relative;
    top: -70px;
    left: 35px;
    background:transparent !important;
}
@media (min-width: 1900px) {
    .product-image-large {
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        width: auto
    }
    #productvid {
        height: 440px
    }
    #movietitle {
        font-size: 140%;
        line-height: 100%
    }
    #slider {
        height: 300px!important
    }
}
@media (max-width: 1200px) {
    #acm {
        font-size: 110%
    }
    #productvid {
        height: 240px
    }
    #movietitle {
        font-size: 120%;
        line-height: 100%
    }
    #clockcontainer {
        top: 0;
        clear: both
    }
    #share {
        right: -150px;
        margin-top: 40px
    }
}
@media (max-width: 1000px) {
    #acm {
        font-size: 110%
    }
    #productvid {
        height: 240px
    }
    #clockcontainer {
        clear: both;
        top: 0
    }
    #movietitle {
        font-size: 120%;
        line-height: 100%
    }
    #share {
        right: -150px;
        margin-top: 40px
    }
    #banner {
        left: -100px!important
    }
}
@media (max-width: 767px) {
    .show-xs {
        display: block!important
    }
    .hidden-xs {
        display: none!important
    }
}
@media screen and (min-width: 0px) and (max-width: 550px) {
    .thumb-box img {
        height: 75%!important;
        width: 75%!important
    }
}
@media screen and (min-width: 550px) and (max-width: 1300px) {
    .create-address-shipping {
        display: none
    }
    .shipSection .create-address-shipping {
        display: block
    }
}
#banner {
    margin-bottom: 20px;
    position: relative;
    top: 20px;
    left: 46%;
    width: 600px
}
.show-sm {
    display: none
}
.arrow_box {
    height: 80px;
    width: auto;
    padding: 0 15px;
    z-index: 0
}
#goal,
#sold {
    margin-top: -15px
}
#sold {
    margin-right: 20px
}
.product-image-large {
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
    width: 100%
}
#bottomblock {
    margin-bottom: 60px
}
@media(min-width:1750px){#clockcontainer{left:30px}}

@media(max-width:1750px){#clockcontainer{left:-20px;top:15px}#info{top:160px !important;

}
}
@media(max-width:1070px){#banner{left:6%!important}.show-sm{display:block}.hide-sm{display:none}.col-sm-9{width:70%}.col-sm-3{width:30%}#info{top:0px !important;

}
#ordersummary {
    left:0;
}
.col-md-4,
.col-sm-12 {
    width:100%!important;
    max-width:1000px
}
#share {
    width:100%;
    text-align:right;
    display:block;
    float:none
}
#share iframe {
    float:right;
    z-index:5;
    position:relative
}
#clockcontainer {
    width:100%;
    float:none;
    display:block;
    position:relative;
    height:124px;
    top:-30px;
    left:30px;
    z-index:0
}
#clockTitle {
    left:0;
    top:0
}
.col-md-11 {
    width:95%
}
.col-md-offset-1 {
    left:5%
}
#addToOrderForm,
#productInfo,
#productInfo a {
    margin-top:-20px;
    line-height:1;
    font-size:110%;
    padding-bottom:5px
}
#goal,
#sold {
    margin-top:0
}
.col-sm-offset-0 {
    left:-7%
}
.voffset-sm-1 {
    margin-top:-40px
}
}
@media (max-width: 991px) {
    .hide-xs {
        display:none
    }
    .col-sm-offset-0 {
        left:0
    }
    .product-detail-default {
        font-size:115%
    }
    #productvid {
        height:400px
    }
    #info {
        font-size:130%
    }
    #bottomblock {
        height:260px
    }
}
@media (max-width: 890px) {
    #bottomblock {
        display:none
    }
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-xs-1,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9 {
        float:left
    }
    #info {
        z-index:0;
        position:relative
    }
}
@media (max-width: 600px) {
    #banner,
    #urgent_info,
    .hide-xxs {
        display:none
    }
    #share,
    #share iframe {
        width:100%;
        z-index:200;
        float:left;
        margin:0!important;
        padding:0!important
    }
    #share {
        left:5%
    }
    .panel,
    .panel-body {
        margin:inherit!important;
        margin-right:0!important;
        margin-left:0!important;
        padding:inherit!important;
        padding-right:0!important;
        padding-left:0!important
    }
    input {
        max-width:99%!important;
        margin:0 auto!important
    }
    .col-xs-12 {
        width:100%
    }
    #relatedproducts div>div {
        width:30%!important;
        float:left!important;
        display:inline-block!important;
        clear:none!important
    }
    .navbar-nav.pull-right {
        width:40%
    }
    .navbar-nav.pull-right li {
        width:50%;
        float:left
    }
    #cartview {
        margin-top:-40px
    }
}
@media (max-width: 420px) {
    #share {
        display:none
    }
    .product-detail-default {
        margin-top:-40px
    }
    h2 {
        font-size:120%
    }
}

.col-lg-3,
.col-md-3 {
    width:30%!important
}
#song {
    min-height:700px
}
#relatedproducts .col-md-2 {
    width:20%!important
}
#movhover,
.mobhover {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    z-index:10
}
.col-md-offset-1 {
    margin-left:10%
}
.movie:hover .movhover,
#movie:hover #movhover {
    opacity:1
}
#acm {
    font-size:130%;
    color:#fff;
    font-weight:700;
    position:absolute;
    left:45%;
    top:15%
}
#bottomblock {
    height:270px;
    padding:10px 0;
    background-color:#000;
    position:relative;
    bottom:80px;
    margin-top:70px;
    z-index:0
}
#info img {
    max-width:100%!important
}
@media(max-width:1070px){.col-sm-12{clear:both!important;width:100%!important;min-width:125px!important;height:auto!important;display:block!important;float:left!important;margin:0 auto!important
}
#acm {
    font-size:14px!important;
    top:10%;
    left:43%
}
}
@media (max-width: 600px) {
    .contactus {
        font-size:75%;
        left:50%!important;
        position:relative
    }
    #song {
        min-height:740px
    }
    #banner {
        display:block;
        left:-30px!important;
        top:-30px;
        font-size:9px
    }
    #homelink {
        width:120px;
        height:40px
    }
    #homelink img {
        max-width:100%;
        height:auto
    }
    #clockcontainer {
        width:90%!important;
        max-width:600px!important;
        top:0;
        position:relative
    }
    #clockTitle h4 {
        position:relative;
        width:90%!important;
        left:0!important;
        font-size:12px!important
    }
    #clock {
        font-size:14px
    }
    #clock strong {
        font-size:9px!important
    }
    #imagePanel,
    #prodtitle {
        top:-60px!important;
        position:relative
    }
    #relatedproducts {
        width:102%!important
    }
    #relatedproducts .col-md-offset-1 {
        left:0!important
    }
    #relatedproducts .relatedproductslist {
        float:left!important;
        width:20%!important;
        padding:0!important;
        margin:0!important;
        display:inline;
        min-width:20%!important
    }
    #relatedproducts .relatedproductslist img {
        max-width:100%!important
    }
    #clock span {
        display:block;
        width:50px;
        height:50px;
        text-align:center!important;
        float:left
    }
    #clock span.deliminator {
        width:5px!important;
        padding:0!important
    }
    #info,
    #productInfo {
        position:relative;
        top:-100px
    }
    #info {
        max-width:500px!important;
        width:90%!important
    }
    #info img {
        max-width:100%!important
    }
    #bottomblock {
        height:500px;
        width:102%!important;
        position:relative;
        left:2%;
        bottom:80px;
        margin-top:70px;
        clear:both
    }
    #bottomblock div,
    #bottomblock img {
        width:100%;
        display:block;
        position:static;
        padding:10px;
        clear:both;
        margin:0;
        left:-10px
    }
    #bottomblock img {
        padding:0;
        width:90%!important
    }
}
.shippinginfo ul li {
    list-style-type:disc;
    margin-left:10px;
    padding-left:5px;
    padding-bottom:5px;
}
.shippinginfo ul {
    margin-left:10px;
    padding:0 0 10px 5px
}
.question {
    font-weight:700;
    color:#17BFAF;
    cursor:pointer;
    padding-top:10px;
}
.question:hover {
    color:#000;
    text-decoration:underline;
}
.answer {
    margin-left:10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25)      and (max-width: 600px), only screen and (   min--moz-device-pixel-ratio: 1.25)      and (max-width: 600px),only screen and (        min-device-pixel-ratio: 1.25)      and (max-width: 600px), only screen and (                min-resolution: 120dpi) and (max-width: 600px) {

    .contactus {
        font-size:75%;
        left:50%!important;
        position:relative
    }
    #banner {
        display:block;
        left:-60px!important;
        top:-30px;
        font-size:9px
    }
    #homelink {
        width:120px;
        height:40px
    }
    #homelink img {
        max-width:100%;
        height:auto
    }
    #clockcontainer {
        width:90%!important;
        max-width:600px!important;
        top:-15px;
        position:relative
    }
    #song {
        min-height:500px
    }
    #clockTitle h4 {
        position:relative;
        width:90%!important;
        left:0!important;
        font-size:12px!important
    }
    #clock {
        font-size:14px
    }
    #clock strong {
        font-size:9px!important
    }
    #imagePanel,
    #prodtitle {
        top:-60px!important;
        position:relative
    }
    #prodtitle {
        width:90%;
        left:-10px
    }
    #relatedproducts {
        width:102%!important;
        left:-1%!important
    }
    #relatedproducts .col-md-offset-1 {
        left:0!important
    }
    #relatedproducts .relatedproductslist {
        float:left!important;
        width:60px!important;
        padding:0!important;
        margin:0!important;
        display:inline;
        min-width:50px!important
    }
    #relatedproducts .relatedproductslist img {
        max-width:70px!important
    }
    #clock span {
        display:block;
        width:50px;
        height:50px;
        text-align:center!important;
        float:left
    }
    #clock span.deliminator {
        width:5px!important;
        padding:0!important
    }
    #info,
    #productInfo {
        position:relative;
        top:-100px
    }
    #info {
        max-width:600px!important;
        width:95%!important;
        top:-170px!important
    }
    #bottomblock {
        height:500px;
        width:102%!important;
        position:relative;
        left:2%;
        bottom:80px;
        margin-top:70px;
        clear:both
    }
    #bottomblock div,
    #bottomblock img {
        width:100%;
        display:block;
        position:static;
        padding:10px;
        clear:both;
        margin:0;
        left:-10px
    }
    #bottomblock img {
        padding:0;
        width:90%!important
    }
    .product-detail-default {
        position:relative;
        clear:none;
        max-height:900px
    }
    .navbar-nav.pull-right {
        width:50% !important;
    }
    .navbar-nav.pull-right li {
        width:50% !important;
    }
    .col-sm-3
    {
        max-width:20% !important;
    }
    .col-sm-9 {
      width: 60%;
      left: 25%;
    }
    #cancelorderbutton
    {
        font-size:9px !important;
    }
    .contactus
    {
        left:0% !important;
    }
}

