<header class="header navbar navbar-inner">
    <nav tolerance='20' offset='200' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>
        <section>
            <div class="container">
                <ul class="nav navbar-nav pull-left">
                    <li id="homelink" class="hidden-xs">
                        <a ng-show="Four51User.isAuthenticated()" href="//www.revealproject.com.prod.sportngin.com/" target="_blank">
                            <img src="./img/homeLink.png" alt="Reveal Project">
                        </a>
                    </li>
                    
                    <li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                        <a href="contactus">
                            <i class="fa fa-support"></i>
                            {{'Help' | r | xlat}}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <productsearchinputnav></productsearchinputnav>
                    <li class="cart" ng-class="{'active': isActive(['cart', 'checkout'])}">
                        <a id="451qa_cart_link" ng-show="cartCount && user.CurrentOrderID" class="cart" href="cart">
                            <span ng-bind="cartCount" class="badge"></span>
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </li>
                    <li id="451qa_mesg_link" ng-show="user.Permissions.contains('ViewContactUs')" class="contactus">
                        <a href="contactus">
                            <i class="fa fa-support"></i>
                            {{'Help' | r | xlat}}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </nav>
</header>
