<section>
	<div class="panel panel-default col-md-6">
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  Contact Us
	  </h3>
	 </div>
	 <div class="panel-body">
	  <p>
	  		Customer Service Representatives are available to answer your questions from 8:00 am to 5:00 pm U.S. Central Time, Monday through Friday. Please call Reveal Support at: (952) 278-7800 or email us at: <a href="mailto:reveal@impactgroup.us">reveal@impactgroup.us</a>.
	  </p>
	 </div>
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  Shipping Information
	  </h3>
	 </div>
	 <div class="panel-body">
	  <p>
	  	Please allow 4 to 6 weeks for delivery of your order. Based on volume of orders we may start shipping some orders sooner but all orders will ship within 7 to 10 business days of the close of the campaign order window. All orders will ship USPS Priority Mail. Shipping rates are based on total package weight using the shipping tables below. Your shipping charges will appear in your cart before checkout.
	  </p>
	  <p><em>*All Prices are Listed in USD (US Dollars)</em></p>
	  <div class="col-lg-3 col-md-3 col-sm-12">
	  	<table border="1" cellpadding="5">
		  	<tr style="color:#fff;background:#17BFAF">
		  		<td colspan="2" style="padding:5px;">United States Shipping</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">Weight</td>
		  		 <td  style="padding:5px;">Shipping Charge</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			Up to 8 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$3.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$4.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			10 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$3.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			11 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$7.45
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			12 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$7.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			13 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$8.45
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			14 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$8.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			15 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$9.45
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			1-2 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$9.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			2-3 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$12.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			3-4 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$15.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			4-5 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$16.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			5-6 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$18.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			6-7 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$20.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			7-8 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$24.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			8-9 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$29.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9-10 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$34.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			10+ lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$39.95
		  		</td>
		  	</tr>
		  </table>
	  </div>
	  <div class="col-lg-3 col-md-3 col-sm-12">
		  <table border="1" cellpadding="5">
		  	<tr style="color:#fff;background:#17BFAF">
		  		<td colspan="2">Greater North America Shipping</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">Weight</td>
		  		 <td  style="padding:5px;">Shipping Charge</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			Up to 8 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$8.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9-13 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$9.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			13-16 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$10.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			1-2 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$14.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			2-3 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$18.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			3-4 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$24.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			4-5 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$29.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			5-6 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$37.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			6-7 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$39.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			7-8 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$42.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			8-9 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$44.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9-10 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$46.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			10+ lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$49.95
		  		</td>
		  	</tr>
		  </table>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12">
		   <table border="1" cellpadding="5">
		  	<tr style="color:#fff;background:#17BFAF">
		  		<td colspan="2">Internaional Shipping</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">Weight</td>
		  		 <td  style="padding:5px;">Shipping Charge</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			Up to 8 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$12.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9-13 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$13.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			13-16 ounces
		  		</td>
		  		 <td  style="padding:5px;">
		  			$14.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			1-2 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$16.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			2-3 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$18.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			3-4 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$24.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			4-5 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$29.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			5-6 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$37.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			6-7 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$39.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			7-8 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$42.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			8-9 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$44.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			9-10 lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$46.95
		  		</td>
		  	</tr>
		  	<tr>
		  		 <td  style="padding:5px;">
		  			10+ lbs.
		  		</td>
		  		 <td  style="padding:5px;">
		  			$49.95
		  		</td>
		  	</tr>
		  </table>
		</div>
	 </div>
	</div>
	<div class="panel panel-default col-md-6">
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  How To Buy
	  </h3>
	 </div>
	 <div class="panel-body" style="margin-bottom:40px;">
		  <ol>
			  	<li>
			  		<p>
			  			Browse the product page to choose your product.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss1.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Add product(s) to cart.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss2.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Continue to shop, or proceed to checkout.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss3.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your shipping address.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss4.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Choose your desired shipping method.
			  		</p>
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your billing address or choose from a pre-existing billing address.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss6.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your credit card information.
			  		</p>
			  	</li>
			  	<li>
			  		<p>
			  			Click the Submit Order button. You will receive an order email confirmation.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss8.jpg" alt="">
			  	</li>
		  </ol>
	 </div>
	</div>
</section>
