<section>
	<div class="panel panel-default col-md-6">
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  Contact Us
	  </h3>
	 </div>
	 <div class="panel-body">
	  <p>
	  		Customer Service Representatives are available to answer your questions from 8:00 am to 5:00 pm U.S. Central Time, Monday through Friday. Please call Reveal Support at: (952) 278-7800 or email us at: <a href="mailto:reveal@impactgroup.us">reveal@impactgroup.us</a>.
	  </p>
	 </div>
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  Shipping Information
	  </h3>
	 </div>
	 <div class="panel-body">
	  	<ul>
	  		<li>All orders will ship via USPS within 14 days of the close of the Project.</li>
	  		<li>Shipping charges are based on the total weight of your order and the location the order is being shipped to.</li>
	  		<li>Shipping charges will appear on the cart page prior to submitting your order.</li>
	  	</ul>
	  	<p>
	  		Orders will ship via the following time frame based on location:
	  	</p>
	  	<ul>
	  		<li>Orders to US Addresses will arrive within 2-4 business days of shipping</li>
	  		<li>Orders to all other addresses will arrive in 4-10 business days of shipping</li>
	  	</ul>
	  	<p>
	  		All Reveal Project items are offered as limited time custom products.  Based on order volume, orders may be released to production prior to the Project close date. Once your order has moved to production you will receive a notification email with tracking information. Your order will be in production for approximately 7 to 10 business days before shipping.  Once your order has shipped your tracking information will be updated.
	  	</p>
	  	<p>
	  		If you have any questions about your order or if you feel your order is overdue please <a href="mailto:reveal@impactgroup.us">contact us</a> and provide your order number and contact information.
	  	</p>
	 </div>
	</div>
	<div class="panel panel-default col-md-6">
	 <div class="panel-heading">
	  <h3 class="panel-title">
	  How To Buy
	  </h3>
	 </div>
	 <div class="panel-body" style="margin-bottom:40px;">
		  <ol>
			  	<li>
			  		<p>
			  			Browse the product page to choose your product.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss1.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Add product(s) to cart.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss2.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Continue to shop, or proceed to checkout.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss3.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your shipping address.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss4.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Choose your desired shipping method.
			  		</p>
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your billing address or choose from a pre-existing billing address.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss6.jpg" alt="">
			  	</li>
			  	<li>
			  		<p>
			  			Enter in your credit card information.
			  		</p>
			  	</li>
			  	<li>
			  		<p>
			  			Click the Submit Order button. You will receive an order email confirmation.
			  		</p>
			  		<img class="img-responsive" src="./img/howtobuy/ss8.jpg" alt="">
			  	</li>
		  </ol>
	 </div>
	</div>
</section>
