<iframe src="//impactgroup.us/?p=6836" id="slider" class="hide-xs"></iframe>
<div class="panel panel-default full-width" style="background:#000;">
	<h3 style="color:#fff;text-align: center;"><em>
		Limited Time, Custom Designed Merchandise From Your Favorite
		<br>
		Celebrities Supporting Their Favorite Cause.
		<br>
		<span style="color:#17BFAF;">REVEAL</span> your heart</em>
	</h3>
</div>
<div class="panel panel-default pattern" ng-show="currentCategory.SubCategories.length">
    <div class="panel-heading">
        <h1 class="panel-title" style="color:#000;text-transform:uppercase;">
            Current Campaigns
        </h1>
    </div>
    
    <div class="well" ng-show="productCount > settings.pageSize">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                    items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>
    <div class="panel-category-list">
        <loadingindicator ng-show="categoryLoadingIndicator" title="{{'Please wait while we fetch all categories' | r | xlat}}" />
        <nav class="nav 451_lbl_subcatlist">
            <ul class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 col-sm-12 col-sm-offset-1" style="text-align:center;">
                <li class="category" ng-repeat="c in currentCategory.SubCategories"  style="background:#fff;-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.1); box-shadow: 0 0 5px 0 rgba(0,0,0,.1);padding:0;padding-bottom:20px;">
                    <div class="well" style="border:0;margin:0;">
                        <a ng-show="c.SubCategories" ng-href="campaigns/{{c.InteropID}}" ng-click="clickCampaign()" style="margin:0;padding:0;">
                            <figure ng-show="c.Image.URL">
                                <img class="img-responsive" ng-src="{{c.Image.URL}}" />
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                            
                        </a>
                        <a ng-show="c.SubCategories" ng-href="campaigns/{{c.InteropID}}" ng-click="clickCampaign()" style="margin:0;padding:0;">
                        <h4 ng-bind-html="c.Name" style="text-align:center;text-transform:uppercase;color:#000" /></a>
                        <a ng-hide="c.SubCategories" ng-href="campaigns/{{c.InteropID}}/{{c.Description}}" ng-click="clickCampaign()" style="margin:0;padding:0;">
                            <figure ng-show="c.Image.URL">
                                <img class="img-responsive" ng-src="{{c.Image.URL}}" />
                            </figure>
                            <div class="empty" ng-show="!c.Image.URL">
                                <span class="fa empty"><i class="fa fa-camera"></i></span>
                            </div>
                            
                        </a>
                        <a ng-hide="c.SubCategories" ng-href="campaigns/{{c.InteropID}}/{{c.Description}}" ng-click="clickCampaign()" style="margin:0;padding:0;">
                        <h4 ng-bind-html="c.Name" style="text-align:center;text-transform:uppercase;color:#000;" /></a>
                    </div>
                    <div style="clear:both;width:100px;border-top:2px solid #17BFAF;margin:0 auto;height:15px;">&nbsp;</div>
                    <div class="col-md-12">
                        <div ng-show="c.SubCategories" ng-bind-html="trusted(c.Description)" style="font-size:14px;line-height:16px;"></div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <div class="well" ng-show="productCount > settings.pageSize">
        <pagination page="settings.currentPage" max-size="10" rotate="false" boundary-links="true" total-items="productCount"
                    items-per-page="settings.pageSize" direction-links="true" previous-text="{{'Previous' | xlat}}" next-text="{{'Next' | xlat}}" first-text="{{'First' | xlat}}" last-text="{{'Last' | xlat}}"></pagination>
    </div>
</div>
<div class="panel panel-default home-images2" style="color:#000;text-align:center;padding-top:10px;min-height:300px;">
    <h3>AMAZING CAUSE PARTNERS DOING GREAT WORK AROUND THE WORLD</h3>
    <div class="row col-md-offset-3 col-md-6 col-sm-6 col-sm-offset-3">
        <div class="col-md-4 col-sm-12">
            <a href="http://muttnationfoundation.com/" target="_blank"><img src="//impactgroup.us/clientFiles/revealProject/img/partners/Muttnation.png" alt="Muttnation Foundation" style="max-width:100%;height:auto;"></a>
        </div>
        <div class="col-md-4 col-sm-12">
        <a href="https://www.foldsofhonor.org/" target="_blank">
            <img src="//impactgroup.us/clientFiles/revealProject/img/partners/folds.png" alt="Folds of Honor" style="max-width:100%;height:auto;"></a>
        </div>
        <div class="col-md-4 col-sm-12">
        <a href="http://www.specialolympics.org/" target="_blank">
            <img src="//impactgroup.us/clientFiles/revealProject/img/partners/special-olympics.png" alt="Special Olympics" style="max-width:100%;height:auto;">
            </a>
        </div>
    </div>
    <div class="row col-md-offset-3 col-md-6 col-sm-6 col-sm-offset-3">
        <div class="col-md-4 col-sm-12">
        <a href="http://www.la2015.org/" target="_blank">
            <img src="//impactgroup.us/clientFiles/revealProject/img/partners/worldgames.png" alt="Special Olympics World Games" style="max-width:100%;height:auto;">
            </a>
        </div>
        <div class="col-md-4 hide-sm">
            &nbsp;
        </div>
        <div class="col-md-4 col-sm-12">
        <a href="https://www.acmcountry.com/welcome" target="_blank">
            <img src="//impactgroup.us/clientFiles/revealProject/img/partners/ACM.png" alt="Academy of COuntry Music" style="max-width:100%;height:auto;"></a>
        </div>
    </div>

</div>
<br>
<br>
<div class="panel panel-default home-images" style="color:#000;text-align:center;background:url(img/pattern.jpg);margin-top:75px;min-height: 230px;clear:both;">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <a href="contactus"><h3 style="color:#333;text-align: center;">CONTACT US</h2></a>

        <h2 style="color:#000;text-align: center;"><em>
        Your <span style="color:#17BFAF;">REVEAL</span> to Good is Helping Our Partners
        </em>
        </h2>
        <img src="//impactgroup.us/clientFiles/revealProject/img/homeLink_2.svg" alt="Reveal Project" class="centered">
    </div>
</div>